+b.FOOTER.footer(class= footerClass ? footerClass : '' data-fade-on-scroll)
	+e.container.container
		+e.A.logo(href='#!')
			+e.IMG(src='static/img/icons/logo_sm.png' alt='img')
		+e.info
			+e.P.info-text._bold © ООО “Юридическая компания ”ALP GROUP”
			+e.P.info-text Любое использование материалов, включая копирование, допускается только с письменого разрешения администрации сайта
		+e.dev Создано руками студии
			= ' '
			+e.A(href='#!') “Актиком”