if screen ? screen : screen = []

//begin screen
+b.SECTION.screen(class= screen.classMod ? screen.classMod : '')
	+e.slider.js-slider
		+e.item
			+e.item-img(style=`background-image: url(static/img/bg/screen-1.jpg)`)
			+e.item-text
				+e.H3.item-title.title-md._white Там, где законы в силе,
					+e.BR
					| и народ силен.
				+e.P.item-descr
					+e.MARK.item-descr-mark Закон в юриспруденции
					= ' '
					| — в узком смысле нормативный правовой акт, который принимается представительным (законодательным) органом государственной власти в особом порядке.

		+e.item
			+e.item-img(style=`background-image: url(static/img/bg/screen-2.jpg)`)
			+e.item-text
				+e.H2.item-title.title-md._white Под защитой права никто не бывает обманут.
				+e.P.item-descr
					+e.MARK.item-descr-mark Юриспруденция
					= ' '
					| — совокупность знаний о государстве, управлении, праве, наличие которых даёт основание для профессионального занятия юридической деятельностью.

		+e.item
			+e.item-img(style=`background-image: url(static/img/bg/screen-3.jpg)`)
			+e.item-text
				+e.H2.item-title.title-md._white Там, где законы в силе,
					+e.BR
					| и народ силен.
				+e.P.item-descr
					+e.MARK.item-descr-mark Закон в юриспруденции
					= ' '
					| — в узком смысле нормативный правовой акт, который принимается представительным (законодательным) органом государственной власти в особом порядке.

		+e.item
			+e.item-img(style=`background-image: url(static/img/bg/screen-4.jpg)`)
			+e.item-text
				+e.H2.item-title.title-md._white Там, где законы в силе,
					+e.BR
					| и народ силен.
				+e.P.item-descr
					+e.MARK.item-descr-mark Закон в юриспруденции
					= ' '
					| — в узком смысле нормативный правовой акт, который принимается представительным (законодательным) органом государственной власти в особом порядке.

		+e.item
			+e.item-img(style=`background-image: url(static/img/bg/screen-5.jpg)`)
			+e.item-text
				+e.H2.item-title.title-md._white Под защитой права никто не бывает обманут.
				+e.P.item-descr
					+e.MARK.item-descr-mark Юриспруденция
					= ' '
					| — совокупность знаний о государстве, управлении, праве, наличие которых даёт основание для профессионального занятия юридической деятельностью.
	//begin mouse
	+b.anim-mouse(data-fade-line)
		+e.point