if socials ? socials : socials = []
if socialsList ? socialsList : socialsList = ['vk', 'inst', 'fb']

//begin socials
+b.socials(class= socialsClass ? socialsClass : '')
	for socItem in socialsList
		+e.A.link(href='#!' target='_blank')
			+i(socItem)
