extends ../extend/default

block variables
	-title = 'Услуги'
	-headerClass = '_static'
	-map = false

block main
	main.content.content_static

		-breadcrumbsList = ['Главная', 'Услуги']
		-activeIndex = 2
		-pageInfo = {title: 'Услуги'}
		include ../components/page-info

		//begin services
		+b.SECTION.services._list(data-fade-on-scroll)
			+e.container.container
				// begin tabs
				+b.c-tabs
					+e.tabs-nav
						+e.tabs-el.is-active для физических лиц
						+e.tabs-el для юридических лиц и ИП
					+e.tabs-for._no-bg
						+e.tab
							// begin serv-list
							+b.UL.serv-list
								-
									servList = [
									'Антимонопольное регулирование',
									'Уголовно-правовая защита бизнеса',
									'Налоговые дела',
									'Недвижимость и строительство',
									'Комплексное правовое сопровождение хозяйственной деятельности юридического лица',
									'Коммерческое право',
									'Корпоративное право',
									'Таможенное право',
									'Правовые вопросы офшорной деятельности',
									'Банковская и финансовая практика',
									'Банкротство',
									'Вопросы охраны окружающей среды',
									'Досудебное урегулирование споров, медиация',
									'Защита деловой репутации',
									'Регистрация, реорганизация, ликвидация юридических лиц и индивидуальных предпринимателей',
									'Юридическое сопровождение инвестиционных проектов'
									]
								for servLink in servList
									+e.LI.item
										+i('shield_xs')
										+e.A.item-link(href='#!')= servLink

						+e.tab
							// begin serv-list
							+b.UL.serv-list
								-
									servList = [
									'Антимонопольное регулирование',
									'Уголовно-правовая защита бизнеса',
									'Налоговые дела',
									'Недвижимость и строительство',
									'Комплексное правовое сопровождение хозяйственной деятельности юридического лица',
									'Коммерческое право',
									'Корпоративное право',
									'Таможенное право',
									'Правовые вопросы офшорной деятельности',
									'Банковская и финансовая практика',
									'Банкротство',
									'Вопросы охраны окружающей среды',
									'Досудебное урегулирование споров, медиация',
									'Защита деловой репутации',
									'Регистрация, реорганизация, ликвидация юридических лиц и индивидуальных предпринимателей',
									'Юридическое сопровождение инвестиционных проектов'
									]
								for servLink in servList
									+e.LI.item
										+i('shield_xs')
										+e.A.item-link(href='#!')= servLink

		//begin ask
		+b.SECTION.ask(data-fade-on-scroll)
			+e.container.container
				+e.A.title.title-md._white(href='#!') Остались вопросы?